.anime {
    select {
        width: 300px;
    }
    .input-container {
        margin-bottom: 20px;
    }
    .form {
        padding: 20px;
        
        &__submit {
            background-color: $secondaryColor;
            color: aliceblue;
            font-size: 22px;
            border: none;
            padding: 15px;
            border-radius: 10px;
        }
    }
    &__input_box {
        display: block;
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 10px;
    }
    .wrapper {
        margin-bottom: 20px;
    }
    .dropzone {
        margin-bottom: 30px;
        border: 1px dotted black;
    }
}
