@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.button-primary {
  padding: 10px 15px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-primary:hover {
  background-color: #0000cc;
}

.button-secondary {
  padding: 10px 15px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #8685EF;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-secondary:hover {
  background-color: #5958e9;
}

.button-danger {
  padding: 10px 15px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-danger:hover {
  background-color: #cc0000;
}

.input-base {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  width: 100%;
  height: 50px;
}
.input-base::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}
.input-base:focus {
  border-color: blue;
}

.input-error {
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  width: 100%;
  height: 50px;
}
.input-error::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}
.input-error:focus {
  border-color: blue;
}

body {
  margin: 0;
  background-color: #090909;
}

.row {
  display: flex;
}

.input-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-full {
  width: 100%;
}
.input-full__field {
  border: 1px solid #cacaca;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.input-full__text_aria {
  height: 100px;
  resize: none;
  margin-bottom: 20px;
  padding: 10px;
}

.input-half {
  width: calc(50% - 11px);
}

.container {
  min-height: 1000px;
  max-width: 1500px;
  padding: 0px 50px;
  margin: auto;
  overflow-x: hidden;
}
.container h2 {
  color: #fff;
  text-transform: uppercase;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
.not-found h1 {
  font-size: 50px;
  text-align: center;
  color: #8685EF;
}
.not-found img {
  margin: auto;
  width: 500px;
  height: auto;
}

.active {
  display: block;
}

.home-page .main__content {
  width: calc(100% - 355px);
  float: left;
}
.home-page .main__side {
  width: 330px;
  float: right;
}
.home-page h2 {
  margin-bottom: 40px;
  font-size: 25px;
}
.home-page .last_anime {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.home-page .viewings {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.home-page .thumbnail {
  position: relative;
  width: calc(33% - 24px);
}
@media (max-width: 720px) {
  .home-page .thumbnail {
    width: calc(45% - 12px);
  }
}
@media (max-width: 651px) {
  .home-page .thumbnail {
    width: 100%;
    margin-bottom: 20px;
  }
}
.home-page .thumbnail img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}
.home-page .thumbnail__tag {
  background-color: #00c896;
  position: absolute;
  bottom: 3px;
  left: 0;
  color: #fff;
  border-radius: 0px 0px 0px 15px;
  padding: 6px 15px;
  display: flex;
}
.home-page .hero {
  padding: 20px 0px 60px;
  display: flex;
  margin-bottom: 50px;
}
.home-page .hero .hero__gif {
  display: none;
}
.home-page .hero:hover .hero__img {
  display: none;
}
.home-page .hero:hover .hero__gif {
  display: block;
}
@media (max-width: 1024px) {
  .home-page .hero {
    flex-direction: column;
  }
}
.home-page .hero h4 {
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  font-size: 30px;
  margin: 0;
}
.home-page .hero h2 {
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  font-size: 45px;
  margin: 0;
  margin-bottom: 10px;
}
.home-page .hero__left {
  width: 45%;
}
@media (max-width: 1024px) {
  .home-page .hero__left {
    width: 100%;
  }
}
.home-page .hero__left a {
  border-radius: 15px;
  padding: 10px 15px;
  border: 2px solid #8685EF;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}
.home-page .hero__left a:first-child {
  background-color: #8685EF;
}
.home-page .hero__left a:first-child:hover {
  background-color: #000;
  color: #8685EF;
  transition: 1s ease all;
}
.home-page .hero__left a:last-child:hover {
  background-color: #8685EF;
  color: #000;
  transition: 1s ease all;
}
.home-page .hero__left p {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 20px;
  width: 80%;
  margin-bottom: 20px;
}
.home-page .hero__btn_wrapper {
  display: flex;
  margin-bottom: 20px;
}
.home-page .hero__classification {
  gap: 0.5rem;
  margin-bottom: 20px;
  display: flex;
}
.home-page .hero__classification span {
  color: #fff;
}
.home-page .hero__stars {
  margin-bottom: 20px;
}
.home-page .hero__stars i {
  color: #8685EF;
  font-size: 35px;
}
.home-page .hero__stars strong {
  font-size: 40px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.home-page .hero__right {
  width: 55%;
  position: relative;
}
@media (max-width: 1024px) {
  .home-page .hero__right {
    width: 100%;
  }
}
.home-page .hero__img_container {
  position: relative;
  width: 200px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  overflow: hidden;
}
.home-page .hero__img_wrap {
  width: 100%;
  height: 500px;
  -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0%);
          clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0%);
}
.home-page .hero__img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Pour s'assurer que l'image couvre la div */
}
@media (max-width: 1024px) {
  .home-page .hero__img_wrap {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.home-page .hero__tag {
  border-radius: 15px;
  border: 1px solid #faf8ff;
  padding: 10px 17px;
  font-family: "Oswald", sans-serif;
}
.home-page .animes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-page .animes__audioPlayer {
  z-index: -2;
  visibility: hidden;
  position: absolute;
}
.home-page .animes__thumbnail {
  width: calc(33% - 24px);
  cursor: pointer;
  margin-bottom: 30px;
  height: auto;
  background-size: cover;
  z-index: 10;
}
@media (max-width: 720px) {
  .home-page .animes__thumbnail {
    width: calc(45% - 12px);
  }
}
@media (max-width: 651px) {
  .home-page .animes__thumbnail {
    width: 100%;
    margin-bottom: 20px;
  }
}
.home-page .animes__thumbnail img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}
.home-page .container {
  position: relative;
}
.home-page .banner {
  display: none;
  padding: 10px;
  position: absolute;
  top: 32%;
  right: -800px;
  background-color: #000;
  border: 10px solid #fff;
  border-radius: 10px;
  height: 800px;
  width: 800px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0px 0px 60px;
}
.home-page .banner__gif {
  position: absolute;
  opacity: 0.25;
}
.home-page .banner__inside {
  position: relative;
  border-radius: 10px 0px 0px 10px;
  width: 750px;
  border: 10px solid #fff;
  height: 90%;
  padding: 20px;
  border-right: none;
  overflow-y: hidden;
}
.home-page .banner__inside p {
  color: white;
  font-size: 25px;
  font-weight: 300;
  width: 90%;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Share Tech", sans-serif;
  line-height: 1.5;
}
.home-page .banner__icon_close {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.home-page .banner__img_title {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  opacity: 0;
}
.home-page .banner__img_bottom {
  position: relative;
  width: 300px;
  height: auto;
  left: 10px;
  bottom: -350px;
}
.home-page .banner__bottom {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page .banner__bottom .btn {
  text-decoration: none;
  background-color: rgb(56, 216, 50);
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.4);
}
.home-page .banner__bottom .btn__icon {
  display: flex;
  margin-left: 10px;
  width: 26px;
  height: auto;
}
.home-page .banner__bottom .btn__icon img {
  width: 100%;
  height: auto;
}
.home-page .landing_img {
  width: 700px;
  text-align: center;
  margin: auto;
}
.home-page .landing_img img {
  width: 100%;
  height: auto;
}
.home-page .schedule {
  background-color: #201F2D;
  margin-bottom: 100px;
  color: #fff;
  border-radius: 10px;
  padding: 30px 10px;
  position: relative;
}
.home-page .schedule h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.home-page .schedule__swiper {
  overflow: hidden;
}
.home-page .schedule__content {
  position: relative;
  padding: 10px 40px;
}
.home-page .schedule__card {
  padding: 10px;
  background-color: #242330;
  border-radius: 5px;
  display: block;
  width: 120px;
  cursor: pointer;
}
.home-page .schedule__card:hover {
  background-color: #8685EF;
  transition: 1s ease;
}
.home-page .schedule__card h3 {
  color: white;
  text-align: center;
}
.home-page .schedule__card span {
  display: block;
  text-align: center;
}
.home-page .schedule__date {
  margin-bottom: 20px;
  font-size: 18px;
}
.home-page .schedule .swiper-slide {
  width: 112px !important;
}
.home-page .schedule .swiper-button-prev {
  left: -2px;
}
.home-page .schedule .swiper-button-next {
  right: -2px;
}
.home-page .schedule__btn {
  background-color: #1c1a2e;
  padding: 5px;
  top: 50%;
  border-radius: 5px;
}
.home-page .schedule__btn:nth-child(1) {
  left: 3px;
}
.home-page .schedule__btn::after {
  color: #fff;
  font-size: 25px;
}
.home-page .schedule__broadcast {
  display: flex;
  flex-direction: column;
}
.home-page .schedule__broadcast-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 20px;
}
.home-page .schedule__broadcast-card:nth-child(2n) {
  background-color: #1c1b27;
}
.home-page .schedule__broadcast-hour {
  color: #fff;
  font-size: 25px;
  margin-right: 10px;
}
.home-page .schedule__broadcast-episode {
  border-radius: 5px;
  background-color: #201F2D;
  padding: 5px;
}
.home-page .schedule__broadcast-text {
  font-size: 20px;
}
.home-page .filter {
  padding: 15px;
  position: relative;
  border-radius: 5px;
  background-color: #201F2D;
  height: 300px;
  width: 330px;
  margin-bottom: 20px;
}
.home-page .filter h4 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.home-page .filter__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-page .filter__item {
  width: calc(50% - 8px);
}
.home-page .filter__dropdown {
  padding: 3px;
  display: block;
  border-radius: 5px;
  background-color: #242330;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 5px 8px 13px 0px rgba(0, 0, 0, 0.16);
}
.home-page .filter__dropdown span {
  color: #fff;
}
.home-page .filter__dropdown_menu {
  display: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 50;
  left: 50%;
  transform: translate(-50%, 0);
  width: 340px;
  max-width: 300px;
  background-color: #3d3f43;
}
.home-page .filter__dropdown_menu ul {
  display: flex;
  flex-wrap: wrap;
}
.home-page .filter__dropdown_menu li {
  width: 50%;
  list-style: none;
}
.home-page .filter__dropdown_menu input {
  margin-right: 5px;
}
.home-page .filter__btn {
  margin: 80px 0 auto 0;
  text-align: center;
  border-radius: 10px;
  color: #faf8ff;
  padding: 10px 10px;
  font-size: 20px;
  background-color: #8685EF;
}
.home-page .filter__check {
  display: flex;
}
.home-page .top_anime {
  background-color: #201F2D;
  border-radius: 10px;
}
.home-page .top_anime ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.home-page .top_anime ul li {
  padding: 30px;
}
.home-page .top_anime ul li a {
  text-decoration: none;
  color: #fff;
}
.home-page .top_anime ul li:hover {
  background-color: #8685EF;
}
.home-page .top_anime__photo {
  position: relative;
}
.home-page .top_anime__photo img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}
.home-page .top_anime__text {
  padding: 0px 20px;
  display: flex;
  position: absolute;
  bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #faf8ff;
}
.home-page .top_anime__text h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.home-page .top_anime__text span:first-child {
  border: 1px solid #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 20px;
  color: #000;
  background-color: #faf8ff;
}
.home-page .top_anime__content {
  padding-top: 20px;
}
.home-page .top_anime__number {
  border: 1px solid #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 20px;
  max-height: 50px;
  color: #faf8ff;
}
.home-page .top_anime__card {
  display: flex;
  justify-content: start;
  padding: 10px 20px;
}
.home-page .top_anime__card h4 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #faf8ff;
  font-weight: 200;
}
.home-page .top_anime__view {
  display: block;
}
.home-page .top_anime__thumbnail {
  margin-right: 20px;
}
.home-page .top_anime__icon {
  color: #faf8ff;
  font-size: 14px;
  font-weight: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.home-page .top_anime__icon span {
  margin-left: 5px;
}
.home-page .recently {
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  background-color: #201F2D;
}
.home-page .recently__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.home-page .recently__top h4 {
  font-size: 25px;
  color: #faf8ff;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.home-page .recently__top a {
  padding: 5px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: #111116;
}
.home-page .recently__card {
  display: flex;
  margin-bottom: 10px;
}
.home-page .recently__card img {
  margin-right: 10px;
}
.home-page .recently__text {
  display: block;
  color: #faf8ff;
}
.home-page .recently__text span {
  display: block;
  margin-bottom: 5px;
}

.navbar {
  background-color: #201F2D;
  overflow: hidden;
  padding: 5px 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.navbar__menu {
  display: flex;
}
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__nav-item {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}
.navbar__mobile-menu-icon {
  display: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar__mobile-menu-icon {
    display: block;
  }
}

.footer {
  background-color: #201F2D;
  padding: 50px 20px;
}
.footer h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff;
}
.footer p {
  margin: 0;
  line-height: 1.5;
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__section {
  flex: 1;
  margin-right: 20px;
}

/* =========== Google Fonts ============ */
/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #8685EF;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}

.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}

.details .recentOrders table tr td {
  padding: 10px;
}

.details .recentOrders table tr td:last-child {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recentCustomers table tr td {
  padding: 12px 10px;
}

.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
.watch-page h1 {
  color: white;
}
.watch-page .video_container {
  padding: 20px 0px;
  width: 100%;
  height: auto;
  margin: auto;
}
.watch-page .video_container iframe {
  width: 100%;
  margin: auto;
}
.watch-page .dropdown select {
  border: none;
  height: 30px;
  width: 140px;
}
.watch-page .btn_container {
  display: flex;
  justify-content: center;
  background-color: #201F2D;
  padding: 10px 5px;
}
.watch-page .btn_container button {
  padding: 5px 10px;
  border: none;
  background-color: #8685EF;
  color: #fff;
  margin-right: 20px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 5px;
}
.watch-page .btn_container button:nth-child(2) {
  background-color: #000;
}

.page-synopsis .synopsis_intro {
  position: relative;
}
.page-synopsis .synopsis_intro__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.page-synopsis .synopsis_intro__top {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.page-synopsis .synopsis_intro__score_content {
  position: absolute;
  top: 20px;
  right: 50px;
}
.page-synopsis .synopsis_intro__score {
  position: relative;
  font-family: "Share Tech Mono", monospace;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #2980b9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  margin-left: 50px;
  color: #000;
  overflow: hidden;
}
.page-synopsis .synopsis_intro__score::after {
  content: "";
  position: absolute;
  inset: 1rem;
  background-color: #fff;
  border-radius: inherit;
  z-index: 1;
}
.page-synopsis .synopsis_intro__score span {
  position: relative;
  display: flex;
  font-weight: bold;
  z-index: 2;
}
.page-synopsis .synopsis_intro__score small {
  font-size: 0.5em;
  font-weight: 900;
  align-self: center;
}
.page-synopsis .synopsis_intro__score.bad {
  background-color: #e74c3c;
  color: #e74c3c;
}
.page-synopsis .synopsis_intro__score.normal {
  background-color: #f1c40f;
  color: #f1c40f;
}
.page-synopsis .synopsis_intro__score.good {
  background-color: #27ae60;
  color: #27ae60;
}
.page-synopsis .synopsis_intro__content {
  display: flex;
  justify-content: center;
}
.page-synopsis .synopsis {
  background-color: #faf7f7;
}
.page-synopsis .synopsis__top {
  position: relative;
  width: 100%;
  height: 200px;
}
.page-synopsis .synopsis__top img {
  position: absolute;
  top: -150px;
  width: 100%;
}
.page-synopsis .tabs-container {
  position: relative;
  margin-top: -150px;
}
.page-synopsis .tabs-container .spacer {
  width: 45%;
}
.page-synopsis .tabs-container .wrap {
  display: flex;
  padding-right: 10px;
}
.page-synopsis .tabs-container .tabs {
  border-bottom: 2px solid #000;
  text-align: left;
  width: 55%;
  padding: 10px 10px 10px 0px;
}
.page-synopsis .tabs-container .tabs button {
  padding: 15px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin-right: 20px;
  color: #8685EF;
  font-size: 40px;
  border: none;
  background-color: transparent;
}
.page-synopsis .tabs-container .tabs button:hover {
  background-color: #00C896;
  color: #fff;
}
.page-synopsis .pages__tab-content h2 {
  color: black;
}
.page-synopsis .pages {
  min-height: 400px;
}
.page-synopsis .pages__season_wrap {
  display: flex;
  justify-content: space-around;
}
.page-synopsis .pages__card_container {
  display: flex;
  width: 45%;
}
.page-synopsis .pages__anime_card_season {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: relative;
  border-radius: 15px;
  width: 150px;
}
.page-synopsis .pages__anime_card_season h3 {
  color: #000;
  transform: rotate(-82deg);
  position: absolute;
  top: 6%;
  left: 8%;
  font-size: 45px;
  width: 200px;
}
.page-synopsis .pages__anime_card_season img {
  border-radius: 15px;
  opacity: 0.6;
  width: 100%;
  height: auto;
}
.page-synopsis .pages__episode_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  padding: 10px 10px;
}
.page-synopsis .pages__episode_thumbnail {
  width: calc(25% - 12px);
  margin-bottom: 10px;
  position: relative;
}
.page-synopsis .pages__episode_thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.page-synopsis .pages__episode_thumbnail span {
  width: 30px;
  text-align: center;
  display: block;
  background-color: #00c896;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  border-radius: 15px 0px 0px 0px;
  padding: 3px;
}
.page-synopsis .pages__synopsis_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page-synopsis .pages__synopsis_left {
  width: 45%;
  float: left;
  display: flex;
  justify-content: center;
}
.page-synopsis .pages__synopsis_cercle {
  display: block;
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, rgb(234, 234, 234) 46%, rgb(134, 133, 239) 94%);
  border-radius: 50%;
  overflow: hidden;
}
.page-synopsis .pages__synopsis_cercle:nth-child(2) {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.page-synopsis .pages__synopsis_cercle:nth-child(3) {
  width: 200px;
  min-height: 200px;
}
.page-synopsis .pages__synopsis_cercle img {
  width: 100%;
  height: auto;
}
.page-synopsis .pages__synopsis_right {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}
.page-synopsis .pages__synopsis_right p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: 20px;
}
.page-synopsis .pages__scan {
  display: flex;
}
.page-synopsis .pages__scan_thumbnail {
  display: flex;
  width: calc(25% - 12px);
  height: 100px;
  background-color: #000;
  color: #fff;
}
.page-synopsis .pages__scan_left {
  width: 45%;
}
.page-synopsis .pages__scan_right {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.anime__banner {
  height: 200px;
  width: 100%;
  margin-bottom: 75px;
  overflow: hidden;
}
.anime__banner img {
  width: 100%;
  height: auto;
}
.anime .content {
  display: flex;
  justify-content: space-between;
}
.anime .content__left {
  width: 48%;
  padding-right: 10px;
}
.anime .content__right {
  width: 48%;
}
.anime select {
  width: 300px;
}
.anime .input-container {
  margin-bottom: 20px;
}
.anime .form {
  padding: 20px;
}
.anime .form__submit {
  background-color: #8685EF;
  color: aliceblue;
  font-size: 22px;
  border: none;
  padding: 15px;
  border-radius: 10px;
}
.anime__input_box {
  display: block;
  margin-bottom: 10px;
}
.anime h2 {
  margin-bottom: 10px;
}
.anime .wrapper {
  margin-bottom: 20px;
}
.anime .dropzone {
  margin-bottom: 30px;
  border: 1px dotted black;
}
.anime .dropzone .dz-message span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anime .dropzone__thumbnail {
  min-height: 250px;
}
.anime .checkbox__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.anime .checkbox__custom {
  width: 33%;
}
.anime .checkbox__custom input {
  display: none;
}
.anime .checkbox__custom input:checked + .checkbox__btn {
  border: 2px solid #ffdae9;
}
.anime .checkbox__custom input:checked + .checkbox__btn > .icon {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.anime .checkbox__custom img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}
.anime .checkbox__custom .icon {
  color: #ffffff;
  background-color: #FFDAE9;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(2);
  border-radius: 50px;
  padding: 3px;
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}
.anime .checkbox__btn {
  margin: 10px;
  width: 320px;
  height: 240px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px rgba(195, 195, 195, 0.4039215686);
  cursor: pointer;
}
.anime .checkbox__icon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anime .drop__image_title {
  display: none;
}
.anime .drop__image_bottom {
  display: none;
}
.anime .drop__image_gif {
  display: none;
}
.anime .drop__music {
  display: none;
}
.anime .drop__image_hero {
  display: none;
}

.login {
  padding-bottom: 100px;
  padding-top: 100px;
  margin: auto;
}
.login__header img {
  margin-bottom: 10px;
}
.login__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  background-color: #cacaca;
  margin: auto;
  align-items: center;
  border-radius: 5px;
}
.login__box input {
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
}
.login__box input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}

.episode h2 {
  margin-bottom: 20px;
}
.episode .content {
  padding-bottom: 20px;
  display: flex;
}
.episode .content__left {
  width: 50%;
  padding-right: 10px;
}
.episode .content__right {
  width: 50%;
  padding-left: 10px;
}
.episode .mult-select-tag {
  margin-bottom: 20px;
}
.episode__dynamique_input {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
}
.episode__dynamique_input h2 {
  margin-bottom: 20px;
}
.episode__input_add {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 30px;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
.episode .input__left {
  width: 50%;
  padding: 10px;
}
.episode .input__right {
  width: 50%;
  padding: 10px;
}
.episode .form {
  padding: 20px;
}
.episode .dropzone {
  margin-bottom: 30px;
  border: 1px dotted black;
}
.episode .dropzone .dz-message span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.episode .dropzone__thumbnail {
  min-height: 250px;
}

.board {
  background-color: red;
}/*# sourceMappingURL=application.css.map */