
body{
    margin: 0;
    background-color: #090909
}

.row{
    display: flex;
}
.input-form{
    display: flex;
    flex-direction: column;
    flex:1
}

.input-full{

    width: 100%;
    &__field{
        border: 1px solid #cacaca;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }
    &__text_aria{
        height: 100px;
        resize: none;
        margin-bottom: 20px;
        padding: 10px;
    }
}
.input-half {

    width: calc(50% - 11px) ;
}
.container {
    min-height: 1000px;
    max-width: 1400px;
    padding: 0px 50px;
    margin: auto;
    overflow-x: hidden;
    h2 {
        color: #fff;
        text-transform: uppercase;
    }
}

.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    h1{
        font-size: 50px;
        text-align: center;
       
    }
     img{
        margin: auto;
            width: 500px;
            height: auto;
        }
}