
body{
    margin: 0;
    background-color: #090909
}

.row{
    display: flex;
}
.input-form{
    display: flex;
    flex-direction: column;
    flex:1
}
.container {
    min-height: 1000px;
    max-width: 1400px;
    padding: 0px 50px;
    overflow-x: hidden;
    h2 {
        color: #fff;
        text-transform: uppercase;
    }
}