{% extends "layout-dashbord.html" %}

{% block content %}

<main class="episode">
    <form action="">
    <div class="anime_input_box">
        <h2>Anime</h2>
        <select name="chosen-select" id="chosen-select"
            data-placeholder="Choose tags ..." name="tags[]" multiple>
        
            <option value="">Test1</option>
            <option value="">Test2</option>
            <option value="">Test3</option>
            <option value="">Test4</option>
    
        </select>
    </div class=''>
    <h2>Titre de épisode</h2>
    <div class="input-form">
        <input class="input-full__field"  type="text">
    </div>
<h2>Link video 1</h2>
<input class="input-base" type="text" placeholder="Entrer le lien" >
<h2>Link video 2</h2>
<input class="input-base" type="text" placeholder="Entrer le lien" >
<h2>Link video 2</h2>
<input class="input-base" type="text" placeholder="Entrer le lien" >
</form>
</main>


{% endblock %}


