{% extends 'layout-dashbord.html' %}
{% block content %}
<main class="anime">
    <div class="anime__banner">
    </div>
    <form id="formulaire" class="form">
        <div class="content">
            <div class="content__right">
                <h2>Thumbnail</h2>
                <div id="thumbDropzone" class="dropzone dropzone__thumbnail">
                    <div class="dz-message" data-dz-message>

                        <span>
                            <img src="../static/img/animeupload.webp"
                                width="160" height="160" srcset>
                            Drop images thumbnail here or click.
                        </span>
                    </div>

                </div>
            </div>
            <div class="content__left">
                <div class="input-form">
                    <h2>Title</h2>
                    <input id="title" name="title" class="input-full__field"
                        placeholder="Enter Anime title">
                </div>
                <div class="input-form">
                    <h2>Description</h2>
                    <textarea id="description" class="input-full__text_aria"
                        name="description"
                        placeholder="Enter Anime title"></textarea>
                </div>
                <div class="anime_input_box">
                    <h2>Genre</h2>
                    <select name="chosen-select" id="chosen-select"
                        data-placeholder="Choose tags ..." name="tags[]"
                        multiple>
                        {% for element in data_genre %}
                        <option value="{{element.id}}">{{ element.title
                            }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <span id="output"></span>
        <div class="content">
            <div class="content__left">
                <h2>Title Image </h2>
                <div id="imageDropzone" class="dropzone">
                    <div class="dz-message" data-dz-message>
                        <span>
                            <img src="../static/img/title-logo-img.webp"
                                width="160" height="160">
                            Drop images gif here or click to upload.
                        </span>
                    </div>
                </div>
            </div>
            <div class="content__right">
                <h2>Music</h2>
                <div id="musicDropzone" class="dropzone">
                    <div class="dz-message" data-dz-message>
                        <span>
                            <img src="../static/img/music-logo.webp" width="160"
                                height="160">

                            Drop images gif here or click to upload.
                        </span>
                    </div>

                </div>
            </div>

        </div>

        <h2>Video</h2>
        <div id="videoDropzone" class="dropzone">
            <div class="dz-message" data-dz-message>
                <span>
                    <img src="../static/img/video-upload.webp" width="160"
                        height="160">

                    Drop images gif here or click to upload.
                </span>
            </div>

        </div>
        <h2>Image Bottom</h2>
        <div id="bottomDropzone" class="dropzone">
            <div class="dz-message" data-dz-message>
                <span>
                    Drop images gif here or click to upload.
                </span>
            </div>

        </div>
        <h2>Categorie</h2>
        <div class="checkbox__content" data-dz-message>
            <label class="checkbox__custom" for="card1" >
                <input type="radio" name="categorie" id="card1" class="radio">
                <span class="checkbox__btn">
                    <ion-icon class="icon" name="checkmark-circle"></ion-icon>
                    <div class="checkbox__icon">
                        <img src="../static/img/icon/regular-anime.webp">
                        <h3 class>Régulier</h3>
                    </div>
                </span>
            </label>
            <label class="checkbox__custom" for="card2" >
                <input type="radio" name="categorie" class="radio" id="card2"  id>
                <span class="checkbox__btn">
                    <ion-icon class="icon" name="checkmark-circle"></ion-icon>
                    <div class="checkbox__icon">
                        <img src="../static/img/icon/popular_icon.webp">
                         <h3 class>Populaire</h3>
                    </div>
                </span>
            </label>
            <label class="checkbox__custom"  for="card3">
                <input type="radio"  name="categorie" class="radio" id="card3">
                <span class="checkbox__btn">
                    <ion-icon class="icon" name="checkmark-circle"></ion-icon>
                    <div class="checkbox__icon">
                        <img width="125" height="125" src="../static/img/icon/icon-vedette2.webp">
                        <h3 class>Vedette</h3>
                    </div>
                </span>
            </label>
        </div>

        <button class="form__submit" type="submit"> Envoyer</button>
    </form>

</main>
{% endblock %}