{% extends 'layout-dashbord.html' %}
{% block content %}
<main class="anime">
    <form id="formulaire" class="form"   >
        <div class="input-form">
            <h2>Title</h2>
            <input id="title" name="title" class="input-full__field" placeholder="Enter Anime title">
        </div>
        <div class="input-form">
            <h2>Description</h2>
            <textarea id="description" class="input-full__text_aria" name="description"
                placeholder="Enter Anime title"></textarea>
        </div>
        <div class="anime_input_box">
            <h2>Genre</h2>
            <select name="chosen-select" id="chosen-select"
                data-placeholder="Choose tags ..." name="tags[]" multiple>
                {% for element in data_genre %} 
                <option value="{{element.id}}">{{ element.title }}</option>
            {% endfor %}
            </select>
        </div>
        <span id="output"></span>
        <h2>Title Image </h2>
        <div id="imageDropzone" class="dropzone">
            <div class="dz-message" data-dz-message>
                <span>
                    Drop images gif here or click to upload.
                </span>
            </div>

        </div>
        <h2>Music</h2>
        <div id="musicDropzone" class="dropzone">
            <div class="dz-message" data-dz-message>
                <span>
                    Drop images gif here or click to upload.
                </span>
            </div>

        </div>
        <h2>Video</h2>
        <div id="videoDropzone" class="dropzone">
            <div class="dz-message" data-dz-message>
                <span>
                    Drop images gif here or click to upload.
                </span>
            </div>

        </div>
        <h2>Image Bottom</h2>
        <div id="bottomDropzone" class="dropzone">
            <div class="dz-message" data-dz-message>
                <span>
                    Drop images gif here or click to upload.
                </span>
            </div>

        </div>
            <button class="form__submit" type="submit"> Envoyer</button>
    </form>

</main>
{% endblock %}