{% extends 'layout-dashbord.html' %}
{% block content %}
<!-- <div class="dashbord">
        <section>
<div class="sidebar">
    <ul>
        <li>Anime</li>
        <li>Episode</li>
        <li>Music</li>
        <li>Video</li>
        <li>Image</li>
    </ul>
</div>
        </section>
        </div> -->
<main class="dashboard">
    <div class="sidemenu">

    </div>
    <div class="dashboard">
        <div class="dashboard__top">
            <div class="dashboard__card">
                <i class="fa-solid fa-eye"></i>
                <span>85view</span>
            </div>
            <div class="dashboard__card">
                <i class="fa-solid fa-eye"></i>
                <span>85view</span>
            </div>
        </div>

    </div>
</main>
{% endblock %}
