
{% extends 'layout.html' %}
{% block content %}
<main class="home-page">
    
    <div class="container">
        <div class="hero">
            <div class="hero__left">
                <h4 class="hero__title"> S1 | 26 Episodes </h4>
                <h2>Demon Slayer Kimetsu NO Yaiba </h2>
                <div class="hero__classification">
                    <span class="hero__tag">
                        Animation
                    </span>
                    <span class="hero__tag">
                        Action
                    </span>
                    <span class="hero__tag">
                        Adventure
                    </span>
                    
                </div>
                <div class="hero__stars">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star" ></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star" ></i>

                    <i class="fa-regular fa-star" ></i>
                    <strong>4.0</strong>
                </div>
                <p>
                    L'histoire suit le périple de Kamado Tanjirō qui cherche un moyen de rendre sa petite sœur Nezuko de nouveau humaine après sa transformation en démon.
                </p>
                <div class="hero__btn_wrapper">
                    <a class="btn" href="#">Watch <i class="fa-solid fa-play"></i></a>
                    <a  class="btn" href="#">Add to Watching <i class="fa-solid fa-plus-minus"></i> </a>
                </div>
            </div>
            <div class="hero__right">
                <!-- <div class="hero__rectangle">
    
                </div> -->
                
                <div class="hero__img_wrap">
                    <img class="hero__img" src="../static/img/rengoku.webp"/>
                    <img class="hero__gif" src="../static/img/demon-slayer-gif-converter.gif" alt="" srcset="">
    
                </div>
               
            </div>
        </div>
        <h2> last release</h2>
        <div class="last_anime">
            <a  href="#" class="thumbnail">
            <img src="../static/img/DMH.png" alt="effdf" loading="lazy">
            <span class="thumbnail__tag">
                Episode 6
            </span>
            </a>
            <a href="/watch" class="thumbnail">
            <img src="../static/img/Demon-Slave.png" alt="img-01" loading="lazy">
            <span class="thumbnail__tag">
                Episode 9
            </span>
            </a>
            <a class="thumbnail">
            <img src="../static/img/solo-levelling.jpeg" alt="solo-levelling" loading="lazy">  <span class="thumbnail__tag">
                Episode 8
            </span>
        </a>
          
        </div>
        <h2> Vos visionnement</h2>
        <div class="viewings">
            <div class="thumbnail">
                <img src="../static/img/key_art_fullmetal_alchemist.png" alt srcset>
                </div>
                <div class="thumbnail">
                <img src="https://picsum.photos/441/252" alt srcset>
                </div>
                <div class="thumbnail">
                <img src="https://picsum.photos/441/252" alt srcset></div>
        </div>
        <h2>Sélection recommandée</h2>
        <div class="animes">
        </div>
        <div class="banner">

        </div>
    </div>
    <div class="app"></div>
</main>

{% endblock %}
