{% extends "layout.html" %}
{% block content %}
<main class="login">
<div class="login__box">
    <div class="login__header">
<img src="../static/img/Anime-world-forumg.png" alt="" width="75" height="75" srcset="">
    </div>
    <input placeholder="Username" class="input-base" type="text">
    <input placeholder="Password" class="input-base"  type="password">
    <input placeholder="Password" class="input-base"  type="password">

    <button class="button-secondary"  type="submit" >Envoyer</button>
</div>
</main>
{% endblock %}